@import "normalize.css";

.app {
	&__container {
		display: flex;
	}

	&__side {
		width: 50%;
		min-height: 100vh;
		box-shadow: 1px 1px 10px 2px lightgray;

		&_right {
			width: calc(50% - 16px);
			margin-left: 16px;
		}
	}
}
